.footer{
    padding: 56px 0;
    background-color: #34495E;
    width: 100% ;

    &__list{
        max-width: 70%;
    }

    &__item{
        margin-bottom: 32px;
        h4{
            font-weight: 800;
            font-size: 12px;
            line-height: 15px;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #FFFFFF;
            margin-bottom: 9px;
        }
        ul li a{
            color: white;
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            color: #F2F2F2;
            
            
        }
    }
    &__media{
        
        h4{
            font-weight: 800;
            font-size: 12px;
            line-height: 15px;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #FFFFFF;
            margin-bottom: 24px;
        }
        form{
            margin-bottom: 40px;
        }
        input{
            background-color: #253544;
            border-radius: 2px;
            padding: 15px 12px;
        }
    }
    &__icon{
        display: flex;
        gap: 18px;
        margin-bottom: 290px;
    }
    &__btn{
        background-color:#5199FF;
        border-radius: 2px;
        padding: 15px 12px;
    }
}

@media (max-width: 775px){
    .footer{
        overflow: hidden;
        &__fut{
            display:block;
        }
    }
}